.container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 1000px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: white;
}

.left {
  position: relative;
  width: 400px;
  height: auto;
  background-color: #335384;
}

.left .image {
  margin: 50px;
}

.left .contrat {
  margin-top: 50px;
}

.left .Summarize {
  margin-top: 150px;
}

.left .Language {
  margin-top: 50px;
}

.left div {
  display: block;
}

.left div h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.left div p {
  display: block;
  text-align: left;
  font-size: small;
  padding: 10px 0;
  margin-left: 90px;
  margin-top: 20px;
}

.right h1 {
  color: #335384;
  font-size: 50px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 30px;
}

.right h2 {
  color: #5BA7D1;
  margin-left: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.right .Goal {
  margin-top: 100px;
}

.right .Goal p {
  color: #444440;
  margin: 2px;
  font-size: 16px;
  margin-left: 50px;
}

.line {
  width: 70px;
  height: 2px;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: #000;
}

.right .experience {
  margin-top: 70px;
}

.right .experience div {
  font-weight: bold;
  color: #444440;
  margin-left: 50px;
}

.right .experience span {
  display: flex;
  justify-content: space-between;
}

.right .experience .Link {
  font-weight: bold;
  color: #444440;
  margin-right: 40px;
}

.right .experience p {
  color: #444440;
  margin: 2px;
  font-size: 16px;
  margin-left: 50px;
}

.right .experience .E2 {
  margin-top: 70px;
}

.right .Educational {
  margin-top: 30px;
}

.right .Educational div {
  font-weight: bold;
  color: #444440;
  margin-left: 50px;
}

.right .Educational p {
  color: #444440;
  margin: 2px;
  font-size: 16px;
  margin-left: 50px;
}

.right .Educational span {
  color: #444440;
  margin: 5px;
  font-size: 16px;
  margin-left: 50px;
  font-weight: bold;
}